@charset "UTF-8";

body{
 font-family: Arial, Helvetica, sans-serif;
 padding: 2px;
 display: flex;
 align-items: center;
 flex-direction: column;
}

button{
    padding: 4px;
    display: block;
}
button:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
}

button:focus{
    color: red;
    background-color: black;
}