@charset "UTF-8";


header{
    box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.282);
    padding: 20px;
    display: flex;  
   
    justify-content: right;
    justify-content: space-between;
    align-items: center;
   font-family: Arial, Helvetica, sans-serif;
}

header h2{
    color: blue;
    font-size: 2em;
    text-align: left;
    margin-right: 40px; 
   flex-grow: 1;

}
.caixa{
  margin-right: 10px;
  
}
nav{
 
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
   
   
}

a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    margin-bottom: 10px;  
    border-bottom: 2px solid transparent;
}

a:hover{
    color: blue;
   justify-content: spa;
    border-bottom: 2px solid blue;
}
a:focus{
    color: blue;
   
    border-bottom: 2px solid blue;
}
