.header {
    padding: 1rem;
    background: rgb(0, 0, 0);

    nav {
        ul {
            display: flex;
            gap: 1rem;
            list-style: none;

            li {
                border-left: 3px solid;
                padding: 1rem;
                color:white;
            }
        }

    }
}