@import url("/src/styles/globalStyles.css");

.li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-4);
  border-radius: 5px;
  align-items: center;
  padding-right: 10px;
  box-sizing: content-box;
  padding-left: 10px;
  .tech_info {
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  h4 {
    color: var(--grey-0);
    padding-left: 20px;
  }
  div {
    display: flex;
    gap: 5px;
    padding-right: 20px;
    p {
      color: var(--grey-1);
    }
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      align-items: center;
      height: 50px;
      width: 25px;
      color: var(--grey-0);
    }
  }
  @media (max-width: 768px) {
    .tech_info {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      flex-wrap: wrap;
      h4 {
        width: 100%;
        margin: 0px;
        padding-top: 10px;
        box-sizing: border-box;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
      }
      p {
        width: 100%;
      }
    }
    .div_icons {
      display: flex;
      height: 87%;
      width: 19%;
      padding-bottom: 0px;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
    }
  }
}
